<f:layout name="Default" />

<f:section name="content">	

    <f:form action="register" object="{subscriber}" name="subscriber" arguments="{subscriber:subscriber, survey:survey}">
        <div class="form-group">
            <label>Bitte tragen sie einen Namen ein</label>
            <f:form.textfield property="nameSubscriber" class="form-control" style="width:30%" />
        </div>
        <div class="form-group">
            <f:form.submit value="weiter" class="btn btn-default" />
        </div>

    </f:form>

</f:section>