<f:layout name="Default" />

<f:section name="content">	
    <h1>{survey.title}</h1>
    <div>
        <h4>Beschreibung:</h4>
    </div>
    <div>
        <f:format.nl2br>{survey.description}</f:format.nl2br>
    </div>
    <br/>
    <f:if condition="{survey.appointments}" >
        <ul class="list-group">
            <li class="list-group-item-" style="list-style: none">
                <table class="table table-bordered table-sm">				
                    <thead>							
                        <tr>							
                            <th rowspan="2"></th>
                            <f:for each="{survey.appointments}" as="appointment" >								
                            <th colspan="{appointment.timeOfDay -> f:count()}">
                            <f:format.date format="d.m.Y">{appointment.appointmentdate}</f:format.date>
                            </th>											
                            </f:for>
                        </tr>
                        <tr>
                            <f:for each="{survey.appointments}" as="appointment" >
                            <f:for each="{appointment.timeOfDay}" as="time" >
                            <th >{time.timeValue} Uhr</th>
                            </f:for>
                            </f:for>
                        </tr>							
                    </thead>

                    <f:for each="{survey.subscribers}" as="sub" >
                    <tbody>		
                        <tr>
                            <th >{sub.nameSubscriber}</th>
                            <f:for each="{survey.appointments}" as="appointment" >
                            <f:for each="{appointment.timeOfDay}" as="time" >
                            <f:for each="{sub.subcheck}" as="subcheck">
                            <f:for each="{time.timeCheck}" as="poll" >
                            <f:if condition="{poll.uid}=={subcheck.uid}">   
                                <f:then>
                                    <f:if condition="{poll.pollValue}==1">
                                    <f:then>
                                    <td style="background-color:green"></td>
                                    </f:then>																										
                                    </f:if>	
                                    <f:if condition="{poll.pollValue}==0">
                                    <f:then>
                                    <td style="background-color:red"></td>
                                    </f:then>
                                    </f:if>
                                </f:then>														
                            </f:if>
                            </f:for>
                            </f:for>
                            </f:for>
                            </f:for>
                        </tr>
                        </f:for>
                    </tbody>
                    
                </table>
            </li>

        </ul>
    </f:if>	
    <f:form action="commentAjax" name="comment" object="{comment}" arguments="{survey:survey, subscriber:subscriber}">
        <div class="form-group">
            <label>Kommentar</label>    
            <f:form.textarea class="form-control" property="comment" id="commentfield" />
        </div>
        <div class="form-group">
            <f:form.submit value="Senden" class="btn btn-default" id="commentsubmit" />
        </div>
    </f:form>

    <ul class="list-group" id="comments">
        <f:for each="{survey.subscribers}" as="subscribers" >
            <f:for each="{subscribers.comments}" as="comment" reverse="TRUE">
                <li class="list-group-item">
                    <label>{subscriber.nameSubscriber}</label> <br />
                    {comment.comment}
                    <span class="text-muted">
                        (<f:format.date format="d-m-Y H:i:s">{comment.commentdate}</f:format.date>)
                    </span>
                </li>
            </f:for>
        </f:for>
    </ul>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#commentsubmit').click(function () {
                var ajaxURL = '<f:uri.action action="commentAjax" controller="Subscriber" pageType="998" arguments="{survey:survey, subscriber:subscriber}" />';
                var form = $('form');
                $.post(ajaxURL, form.serialize(), function (response) {
                    console.log(response);
                    var items = [];
                    $.each(response, function (key, val) {
                        items.push('<li class="list-group-item">' + val.comment + '<span class="text-muted">(' + val.commentdate + ')</span>' + '</li>');
                    });
                    $('#comments').html(items.reverse().join(''));
                    $('#commentfield').val('');
                });
                return false;
            });
        });
    </script>	

</f:section>

