<f:layout name="Default" />

<f:section name="content">
    
    <f:render partial="pollSummaryBySubscriber" arguments="{survey: survey}" />
    
    <f:form action="commentAjax" name="comment" object="{comment}" arguments="{survey:survey, subscriber:subscriber}">
        <div class="form-group">
            <label>Kommentar</label>    
            <f:form.textarea class="form-control" property="comment" id="commentfield" />
        </div>
        <div class="form-group">
            <f:form.submit value="Senden" class="btn btn-default" id="commentsubmit" />
        </div>
    </f:form>

    <ul class="list-group" id="comments">
        <f:for each="{survey.subscribers}" as="subscribers" >
            <f:for each="{subscribers.comments}" as="comment" reverse="TRUE">
                <li class="list-group-item">
                    <label>{subscriber.nameSubscriber}</label> <br />
                    {comment.comment}
                    <span class="text-muted">
                        (<f:format.date format="d-m-Y H:i:s">{comment.commentdate}</f:format.date>)
                    </span>
                </li>
            </f:for>
        </f:for>
    </ul>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#commentsubmit').click(function () {
                var ajaxURL = '<f:uri.action action="commentAjax" controller="Subscriber" pageType="998" arguments="{survey:survey, subscriber:subscriber}" />';
                var form = $('form');
                $.post(ajaxURL, form.serialize(), function (response) {
                    console.log(response);
                    var items = [];
                    $.each(response, function (key, val) {
                        items.push('<li class="list-group-item">' + val.comment + '<span class="text-muted">(' + val.commentdate + ')</span>' + '</li>');
                    });
                    $('#comments').html(items.reverse().join(''));
                    $('#commentfield').val('');
                });
                return false;
            });
        });
    </script>	

</f:section>

