<f:layout name="Default" />

<f:section name="content">	

    <f:render partial="pollSummaryBySubscriber" arguments="{survey: survey}" />
    
    <ul class="list-group">
        <f:if condition="{survey.subscribers.comments}">
            <label>Kommentare</label>
            <f:for each="{survey.subscribers}" as="subscriber" >
                <f:for each="{subscriber.comments}" as="comment" reverse="TRUE">			
                    <li class="list-group-item-">
                        {subscriber.nameSubscriber} <br />
                        {comment.comment}
                        <span class="text-muted">
                            (<f:format.date format="d-m-Y H:i:s">{comment.commentdate}</f:format.date>)
                        </span>
                    </li>			
                </f:for>
            </f:for>
        </f:if>
    </ul>
    <div class="form-inline form-group">
        <f:link.action action="registerForm" class="btn btn-default form-control" arguments="{survey:survey, subscriber:subscriber}">Abstimmen</f:link.action>
        <f:comment>
            <f:link.action action="list" controller="Survey" class="btn btn-default form-control">zurück</f:link.action>
        </f:comment>
    </div>

</f:section>

