<f:layout name="Default" />

<f:section name="content">	

    <h1>{survey.title}</h1>
    <dl class="dl-horizontal">
        <dt>Beschreibung:</dt>
        <dd><f:format.nl2br>{survey.description}</f:format.nl2br></dd>
    </dl>

    <f:if condition="{survey.appointments}" >
        <ul class="list-group">
            <li class="list-group-item-">
                <table class="table table-bordered table-sm">				
                    <thead>							
                        <tr>							
                            <th rowspan="2"></th>
                            <f:for each="{survey.appointments}" as="appointment" >								
                            <th colspan="{appointment.timeOfDay -> f:count()}"><f:format.date format="d.m.Y">{appointment.appointmentDate}</f:format.date></th>											
                            </f:for>
                        </tr>
                        <tr>
                            <f:for each="{survey.appointments}" as="appointment" >
                            <f:for each="{appointment.timeOfDay}" as="time" >
                            <th >{time.timeValue} Uhr</th>
                            </f:for>
                            </f:for>
                        </tr>							
                    </thead>
                    <tbody>
                    <f:for each="{survey.subscribers}" as="subscriber" >	
                        <tr>
                        <th width="150px">{subscriber.nameSubscriber}</th>
                        <f:for each="{subscriber.subcheck}" as="poll">
                            <f:if condition="{poll.pollValue}==1">
                                <f:then>
                                    <td style="background-color:green"></td>
                               	</f:then>
                                <f:else>
                                    <td style="background-color:red"></td>
                                </f:else>
                            </f:if>													
                        </f:for>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </li>

        </ul>
    </f:if>	
    <br />
    <ul class="list-group">
        <label>Kommentare</label>
        <f:for each="{survey.subscribers}" as="subscriber" >
            <f:for each="{subscriber.comments}" as="comment" reverse="TRUE">			
                <li class="list-group-item-">
                    {subscriber.nameSubscriber} <br />
                    {comment.comment}
                    <span class="text-muted">
                        (<f:format.date format="d-m-Y H:i:s">{comment.commentdate}</f:format.date>)
                    </span>
                </li>			
            </f:for>
        </f:for>
    </ul>
    <br />
    <f:link.action action="registerForm" class="btn btn-primary" arguments="{survey:survey, subscriber:subscriber}">abstimmen</f:link.action>
    <br />
    <br />
    <f:link.action action="list" controller="Survey" class="btn btn-primary">zurück</f:link.action>


</f:section>

