<f:layout name="Default" />

<f:section name="content">
    <h1>Terminvorschlag Erstellen</h1>
    <f:form class="my-form" action="createSurvey" object="{survey}" name="survey" arguments="{organizer: organizer}" additionalAttributes="{role: 'form'}">

        <div class="form-group">
            <label>Name-Ersteller</label>
            <f:form.textfield property="organizername" value="{organizer.completedName}" class="form-control" />
        </div>

        <div class="form-group">
            <label>Umfrage-Titel</label>
            <f:form.textfield property="title" class="form-control" />
        </div>

        <div class="form-group">
            <label>Beschreibung</label>
            <f:form.textarea property="description" class="form-control" />
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label>Dürfen Teilnehmer andere Teilnehmer in der Umfrage sehen?</label>
                <f:form.checkbox class="form-control" value="visible" property="visible" class="checkbox" checked="true" />
            </div>
        </div>
        <div class="form-group">
            <f:form.submit value="weiter" class="btn btn-default"  />
        </div>
    </f:form>

    <f:render partial="listSurveysByFeUser" arguments="{surveysByFe: surveysByFe}" />

</f:section>