<f:layout name="Default" />

<f:section name="content">	

    <f:render partial="pollSummaryBySubscriber" arguments="{survey: survey}" />

    <br />
    <ul class="list-group">
        <f:for each="{survey.subscribers}" as="subscriber" >
            <f:for each="{subscriber.comments}" as="comment" reverse="TRUE">
                <li class="list-group-item-">
                    <label>{subscriber.nameSubscriber}</label>
                    <br />
                    {comment.comment}
                    <span class="text-muted">
                        (<f:format.date format="d-m-Y H:i:s">{comment.commentdate}</f:format.date>)
                    </span>
                <f:link.action action="delete" controller="Comment" arguments="{survey:survey, subscriber:subscriber, comment:comment}" class="btn  pull-right " >
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </f:link.action>
                </li>
            </f:for>
        </f:for>
    </ul>

    <ul class="list-group">
        <li class="list-group-item-" style="list-style: none">
            <div>
                <h4>Um Teilnehmer zu der Umfrage einzuladen, nutzen Sie bitte folgenden Link:</h4>
            </div>
            <br />
            <div>        			
                <span style="word-wrap: break-word; word-break: break-all;"> 
                    {f:uri.action(action:'show', controller:'Subscriber', arguments:'{survey:survey}', noCache:'0', noCacheHash:'0', absolute:'1')}
                </span>
            </div>
        </li>
    </ul>
    <div class="form-group">
        <f:link.action controller="Survey" action="newSurvey" class="btn btn-default">Übersicht</f:link.action>
    </div>
</f:section>

