<f:layout name="Default" />
	
<f:section name="content">	

    <f:render partial="pollSummaryBySubscriber" arguments="{survey: survey}" />
    
	<h1>{survey.title}</h1>
	
	<f:flashMessages class="alert alert-success" />
	
	<dl class="dl-horizontal">
		<dt>Beschreibung:</dt>
		<dd><f:format.nl2br>{survey.description}</f:format.nl2br></dd>
	</dl>
	
	<f:if condition="{survey.appiontments}" >
		<ul class="list-group">			
			<li class="list-group-item">
				<table class="table table-bordered table-sm">				
					<thead>							
						<tr>							
							<th rowspan="2"></th>
							<f:for each="{survey.appiontments}" as="appiontment" >								
								<th colspan="{appiontment.timeOfDay -> f:count()}"><f:format.date format="d.m.Y">{appiontment.appiontmentdate}</f:format.date></th>											
							</f:for>
						</tr>
						<tr>
							<f:for each="{survey.appiontments}" as="appiontment" >
								<f:for each="{appiontment.timeOfDay}" as="timeofdays" >
									<th >{timeofdays.timevalue} Uhr</th>
								</f:for>
							</f:for>
						</tr>							
					</thead>
				
					<f:for each="{survey.subscribers}" as="subscribers" >
						<tbody>		
							<tr>
								<th >{subscribers.nameSubscriber}</th>
								<f:for each="{survey.appiontments}" as="appiontment" >
									<f:for each="{appiontment.timeOfDay}" as="timeofday" >
										<f:for each="{subscribers.subcheck}" as="subcheck">
											<f:for each="{timeofday.timecheck}" as="poll" >
												<f:if condition="{poll.uid}=={subcheck.uid}">
													<f:then>
														<f:if condition="{poll.poll}==1">															
															<f:then>
																<td bgcolor=green>																
																</td>
															</f:then>														
														</f:if>	
														<f:if condition="{poll.poll}==0">
															<f:then>
																<td bgcolor=darkred>																		
																</td>
															</f:then>
														</f:if>
													</f:then>										
												</f:if>
											</f:for>
										</f:for>
									</f:for>
								</f:for>
							</tr>
						</tbody>
					</f:for>					
				</table>
			</li>			
		</ul>
	</f:if>	
	<br />
	<ul class="list-group">
		<f:for each="{survey.subscribers}" as="subscriber" >
			<f:for each="{subscriber.comments}" as="comment" reverse="TRUE">
				<li class="list-group-item">
					<label>{subscriber.nameSubscriber}</label>
					<br />
					{comment.comment}
					<span class="text-muted">
						(<f:format.date format="d-m-Y H:i:s">{comment.commentdate}</f:format.date>)
					</span>
					<f:link.action action="delete" controller="Comment" arguments="{survey:survey, subscriber:subscriber, comment:comment}" class="btn  pull-right " >
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</f:link.action>
				</li>
			</f:for>
		</f:for>
	</ul>
	
	<br />
	<ul class="list-group">
		<li class="list-group-item">
			<table>
				<thead>
					<th>
						Um Teilnehmer zu der Umfrage einzuladen, nutzen Sie bitte folgenden Link:
						<br />
						<br />
					</th>
				</thead>
				<tbody>
					<td >
					<span style="word-wrap: break-word; word-break: break-all;"> 
						{f:uri.action(action:'show', controller:'Subscriber', arguments:'{survey:survey}', noCache:'1', noCacheHash:'1', absolute:'1')}
					</span>
					</td>
				</tbody>
			</table>
		</li>
	</ul>
	
	<br />
	<br />
	<f:link.action action="list" class="btn btn-primary">zurück</f:link.action>
	
	
	
</f:section>
	
