<f:layout name="Default" />

<f:section name="content">	
		
	<h2>{survey.title}</h2>

	<f:form action="ajaxAdd" object="{timeofday}" name="timeofday" arguments="{appiontment:appiontment}">
	
		<label><f:format.date format="d.m.Y">{appiontment.appiontmentdate}</f:format.date></label>
		<br />
		<label>Uhrzeit wählen</label>
		
		<f:form.textfield property="timevalue" type="time" id="timevaluefield" /> Uhr 
		<br />
		<br />
		<f:form.submit value="Uhrzeit hinzufügen" class="btn btn-primary btn-xs" id="timeofdaysubmit" />
		
	</f:form>
	
	<ul class="list-group" id="timeofdays">
        
		<f:for each="{appiontment.timeOfDay}" as="timeofday" >
			
			<li class="list-group-item">
				{timeofday.timevalue} Uhr &nbsp; &nbsp;
			</li>
		</f:for>
			
	</ul>
	
	<script type="text/javascript">
        $(document).ready(function(){
            $('#timeofdaysubmit').click(function(){
                var ajaxURL = '<f:uri.action action="ajaxAdd" controller="Appiontment" pageType="999" arguments="{survey:survey,appiontment:appiontment}" />';
                var form = $('form');
                $.post(ajaxURL, form.serialize(), function(response) {
                    console.log(response);
                    var items = [];
                    $.each(response, function(key, val) {
                        items.push(
							'<li class="list-group-item">' 
								+ val.timevalue + ' Uhr'  +
							'</li>'
						);
                    });
                    $('#timeofdays').html(items.join(''));
                    $('#timevaluefield').val('');
                });
                return false;
            });
        });
    </script>	

	<f:if condition="{survey.appiontments}">
		<ul class="list-group">
			<f:for each="{survey.appiontments}" as="appiontments">
				<f:if condition="{appiontments.timeOfDay}">
					<li class="list-group-item">					
						<label><f:format.date format="d.m.Y">{appiontment.appiontmentdate}</f:format.date></label>
							<f:for each="{appiontments.timeOfDay}" as="timeofdays">
							<dd>
								{timeofdays.timevalue} Uhr &nbsp; &nbsp;
								<f:link.action action="deleteAddAppiontment" controller="Timeofday" arguments="{survey:survey,appiontment:appiontment,timeofday:timeofday}" class="btn  btn-xs">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</f:link.action>
							</dd>
							</f:for>					
					</li>
				</f:if>
			</f:for>
		</ul>
	</f:if>
	
	<f:link.action action="addFormDate" controller="Appiontment" arguments="{survey:survey}" class="btn btn-primary btn-xs">weiteren Termin anlegen</f:link.action>
	<br />
	<br />
	<f:link.action action="show" controller="Survey" arguments="{survey:survey}" class="btn btn-primary">Umfrage erstellen</f:link.action>
	
</f:section>


