<f:layout name="Default" />

<f:section name="content">

	<f:render partial="Error" arguments="{object:'appiontment'}" /> 
	
	<h1>{survey.title}</h1>
	
	<h3>Termin wählen</h3>
	
	<f:if condition="{survey.appiontments}">
		<ul class="list-group">
			<f:for each="{survey.appiontments}" as="appiontment">
				<li class="list-group-item">
					<label><f:format.date format="d.m.Y">{appiontment.appiontmentdate}</f:format.date></label>
						<f:for each="{appiontment.timeOfDay}" as="timeofday">
							<dd>
								{timeofday.timevalue} Uhr
							</dd>
						</f:for>
				</li>
			</f:for>
		</ul>
	</f:if>
	
	<f:form action="add" object="{appiontment}" name="appiontment" arguments="{survey:survey}" additionalAttributes="{role: 'form'}" >		
		
		<f:form.textfield type="date" property="appiontmentdate" class="form-control" style="width:30%"  value="{survey.appiontmentdate->f:format.date(format: '{f:translate(key: \'tx_myext.format.datetime\')}')}"/>
		
		<f:form.submit value="weiter" class="btn btn-primary" />
		
	</f:form>
	
</f:section>
