<f:layout name="Default" />

<f:section name="content">	

    <h2>{survey.title}</h2>

    <script type="text/javascript">

        $(document).ready(function () {
            $(':button').click(function () {
                var html = $(".copy").html();
                doSth(this, html);
                //$(this).prop("disabled", true);
            });
        });


        function doSth(btn, code) {
            //console.log($(btn).attr('class');
            //speichere in var html html codeschnipsel innerhalb von class copy-fields

            //füge html codeschnipsel nach div mit class after-add-more ein

            console.log(code);
            $(btn).after(code);
            $(btn).hide();
        }




    </script>

    <f:if condition="{survey.appointments}">
        <f:then>
            <ul class="list-group">
                <f:for each="{survey.appointments}" as="appointment" iteration="i">
                    <li style="list-style: none">

                        <div class="form-inline">


                            <f:form controller="Appointment" action="newTimeOfDay" name="" object="" arguments="{survey: survey, appointment: appointment}">
                                <f:comment>
                                    <f:form.button class="btn btn-default add-more button-{i.cycle}" type="button">Uhrzeit Hinzufügen</f:form.button>
                                </f:comment>
                                <div class="form-group">
                                    <label>Termin: <f:format.date format="d.m.Y">{appointment.appointmentDate}</f:format.date></label>
                                    <f:form.submit value="Uhrzeit hinzufügen" class="btn btn-default" />
                                </div>
                            </f:form>
                        </div>
                        </br>

                    <f:if condition="{appointment.timeOfDay}">
                        <f:for each="{appointment.timeOfDay}" as="time">

                            <p>{time.timeValue} Uhr</p>

                        </f:for>

                    </f:if>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>Keine Einträge vorhanden!!!!!</f:else>
    </f:if>

    <div class="form-inline form-group">
        <f:link.action action="newAppointment" controller="Appointment" arguments="{survey:survey}" class="btn btn-default">weiteren Termin anlegen</f:link.action>
        <f:link.action action="show" controller="Survey" arguments="{survey:survey}" class="btn btn-default">Umfrage erstellen</f:link.action>
    </div>
    <div class="copy" style="display: none!important;">
        <f:form controller="Appointment" action="createAppointment" method="post" arguments="{survey: survey, appointmentDate: appointmentDate}">
            <div class="after-add-more">
                <div>
                    <input type="time" placeholder="00:00" name="tx_survey_surveylisting[appointmentDate][]" value="{newAppointment.appointmentDate}" />
                </div>

                <f:form.button class="btn btn-primary add-more" type="button">Hinzufügen</f:form.button>
            </div>
            <div>
                <br />
                <f:form.submit value="Speichern" class="btn btn-default" />
            </div>
        </f:form>
    </div>

    <f:comment>
        <div class="copy-fields" style="display: none!important;">
            <div class="control-group" style="margin-top:10px" >
                <input type="date" placeholder="d-m-Y" name="tx_survey_surveylisting[appointmentDate][]" value="{newAppointment.appointmentDate}" />
                <f:form.button class="btn btn-primary remove" type="button">Löschen</f:form.button>
            </div>
        </div>
    </f:comment>


</f:section>


