<f:layout name="Default" />

<f:section name="content">

    <f:comment><f:render partial="Error" arguments="{object:'appointment'}" /></f:comment>

    <h1>{survey.title}</h1>

    <f:if condition="{survey.appointments}">
        <h3>Bereits gewählte Termine</h3>
        <f:for each="{survey.appointments}" as="appointment">
            <p>
            <f:format.date format="d.m.Y">{appointment.appointmentDate}</f:format.date>
            </p>
        </f:for>
    </f:if>

    <h3>Termin wählen</h3>

    <f:form class="my-form btn-group" controller="Appointment" action="createAppointment" method="post" arguments="{survey: survey, appointmentDate: appointmentDate}">
        <div class="after-add-more form-row">
            <div class="form-group col-md-6">
                <input type="date" placeholder="d-m-Y" name="tx_survey_surveylisting[appointmentDate][]" value="{newAppointment.appointmentDate}" />
            </div>
            <div class="form-group col-md-4">
                <f:form.button class="btn btn-outline-primary add-more" type="button">Hinzufügen</f:form.button>
            </div>
        </div>
        </br>
        <div>
            <f:form.submit value="Speichern" class="btn btn-primary" />
        </div>
    </f:form>
    <f:if condition="{survey.appointments}">
        <div class="btn-group form-row">
            <f:link.action controller="Appointment" action="addFormTime" arguments="{survey: survey}" class="btn btn-primary">Zurück zur Übersicht</f:link.action>
        </div>
    </f:if>

    <div class="copy-fields" style="display: none!important;">
        <div class="control-group form-row" style="margin-top:10px" >
            <div class="form-group col-md-6">
                <input type="date" placeholder="d-m-Y" name="tx_survey_surveylisting[appointmentDate][]" value="{newAppointment.appointmentDate}" />
            </div>
            <div class="form-group col-md-4">
                <f:form.button class="btn btn-outline-primary remove" type="button">Löschen</f:form.button>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            var wrapper = $("")
            //Button mit class="add-more" auswählen
            $(".add-more").click(function () {
                //speichere in var html html codeschnipsel innerhalb von class copy-fields
                var html = $(".copy-fields").html();
                //füge html codeschnipsel nach div mit class after-add-more ein
                $(".after-add-more").append(html);
            });
            //bei click auf Löschen button 
            //wird eingefügtes div mit class="copy-fields", welche die Eltern 
            //von class="control-group ist, entfernt"
            $("body").on("click", ".remove", function () {
                $(this).parents(".control-group").remove();
            });

        });

    </script>
</f:section>
