
<table class="tx-survey" >
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.title" />
		</td>
		<td>
		{survey.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.description" />
		</td>
		<td>
		{survey.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.postdate" />
		</td>
		<td>
		{survey.postdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.organizername" />
		</td>
		<td>
		{survey.organizername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.deadline" />
		</td>
		<td>
		{survey.deadline -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.visible" />
		</td>
		<td>
		{survey.visible}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_survey_domain_model_survey.comment_visible" />
		</td>
		<td>
		{survey.commentVisible}
		</td>
	</tr>
</table>